@font-face {
  font-family: 'gabarito-semibold';
  src: url('./fonts/static/Gabarito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'gabarito-bold';
  src: url('./fonts/static/Gabarito-Bold.ttf') format('truetype');
}



* {
  margin: 0;
}

.app {
  background-color: #f0f0f0;
  font-family: 'gabarito-semibold';
  text-align: center;
}

.header {
  background-color: #3498db;
  color: #ffffff;
  padding: 3vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-info,
.donation-section,
.petition-section,
.latest-news,
.contact {
  width: 90vw;
  background-color: #ffffff;
  padding: 1vw;
  margin: 5vw;
  border: 1px solid #3498db;
  border-radius: 4vw;
   padding-top: 1em; 
   padding-bottom: 1em; 
 }

 .donation-pp{
  margin-top:3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
 }
 
 h2 {
  font-family: 'gabarito-bold';
   color: #3498db;
   font-size: 3em;
   margin-bottom: 0.3em; 
 }
 
 .btn {
  margin-top: 2vh;
  display: inline-block;
  background-color: #3498db; 
  color: #ffffff; 
  padding: 1em 1em; 
  font-size: 1.5em; 
  border: none;
  border-radius: 0.5em; 
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  text-align: center; 
}

.btn:hover {
  background-color: #266791; 
  color: #f0f0f0; 
}


 p {
  color: #333333;
   font-size: 2em;
   margin: 0; 
   margin-top: 3vh;
 }

 ul {
  list-style-type: disc;
  
}
.list-item {
  font-size: 1.75em;
  text-align: left;
  list-style-type: disc;
  margin-top: 2vh; 
  
}


.footer {
  background-color: #3498db;
  color: #ffffff;
  padding: 1vw;
  font-size: 1vw;
}


::-webkit-scrollbar {
  width: 0.5vw;
}


::-webkit-scrollbar-thumb {
  background: #96a0a7;
  border-radius: max-radius;
}


::-webkit-scrollbar-track {
  background: #f5f3f3;
  opacity:100%;
}



.custom-popup {
  position: relative;
  background-color: #fff;
  padding: 5vw;
  border-radius: 5vw;
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.2);
  max-width: 80vw;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.custom-popup h3 {
  font-family: 'gabarito-bold';
  font-size: 2.5em;
  margin-bottom: 1em;
}

.custom-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-popup input,
.custom-popup textarea {
  width: 80%;
  padding: 1vw;
  margin: 1vh 0;
  border: 1px solid #3498db;
  border-radius: 1vw;
  font-size: 1.5em;
}

.button-submit {
  background-color: #3498db;
  color: #fff;
  padding: 1vw 2vw;
  font-size: 1.5em;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  margin-top: 2vh;
  transition: background-color 0.3s, color 0.3s;
}

.button-submit:hover {
  background-color: #269153;
  color: #f0f0f0;
}


.close-button {
  margin-top: 2vh;
  font-size: 1.5em;
  position: relative;
  float: left;
  background-color: #3498db;
  color: #ffffff;
  padding: 1vw 2vw; 
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  z-index: 1002; 
}

.close-button:hover {
  background-color: #e74848;
  color: #ffffff; 
  padding: 1vw 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  z-index: 1002;
}


@keyframes blink {
  0% {
    color: rgb(184, 65, 65);
  }
  10% {
    color: #e74848;
  }
  20% {
    color: rgb(200, 0, 0);
  }
  30% {
    color: #d9534f;
  }
  40% {
    color: rgb(220, 20, 60);
  }
  50% {
    color: #c82333;
  }
  60% {
    color: rgb(220, 20, 60);
  }
  70% {
    color: #d9534f;
  }
  80% {
    color: rgb(200, 0, 0);
  }
  90% {
    color: #e74848;
  }
  100% {
    color: rgb(184, 65, 65);
  }
}

h4 {
  animation: blink 3s infinite;
}

.close-button2 {
  margin-top: 2vh;
  font-size: 1.5em;
  position: relative;
  background-color: #3498db;
  color: #ffffff;
  padding: 1vw 2vw; 
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  z-index: 1002; 
}

.close-button2:hover {
  background-color: #e74848;
  color: #ffffff; 
  padding: 1vw 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  z-index: 1002;
}


