@font-face {
  font-family: 'gabarito-semibold';
  src: url('./fonts/static/Gabarito-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'gabarito-bold';
  src: url('./fonts/static/Gabarito-Bold.ttf') format('truetype');
}



* {
  margin: 0;
}

.app {
  background-color: #f0f0f0;
  font-family: 'gabarito-semibold';
  text-align: center;
}

.header {
  background-color: #3498db;
  color: #ffffff;
  padding: 3vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-info,
.donation-section,
.petition-section,
.latest-news,
.contact {
  width: 90vw;
  background-color: #ffffff;
  padding: 1vw;
  margin: 5vw;
  border: 1px solid #3498db;
  border-radius: 4vw;
   padding-top: 1em; 
   padding-bottom: 1em; 
 }

 .donation-pp{
  margin-top:3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
 }
 
 h2 {
  font-family: 'gabarito-bold';
   color: #3498db;
   font-size: 3em;
   margin-bottom: 0.3em; 
 }
 
 p {
   margin: 0; 
 }


.footer {
  background-color: #3498db;
  color: #ffffff;
  padding: 1vw;
  font-size: 1vw;
}


::-webkit-scrollbar {
  width: 0.5vw;
}


::-webkit-scrollbar-thumb {
  background: #96a0a7;
  border-radius: max-radius;
}

/* Tło paska przewijania */
::-webkit-scrollbar-track {
  background: #f5f3f3;
  opacity:100%;
}

